.image{

    height: 300px;
    width: 300px;
}

.contenedor{

    display: flex;
    justify-content: center;
}

.galeria{

    width: 90%;
    display: flex;
    justify-content: center;
}

.appear{
    
    animation: myfirst1 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes myfirst1 {
      
      0% { opacity: 0;}
      50% { opacity: 1;}
      100% { opacity: 1;}
  }
  
/* *{


    border: solid black 1px;
} */
