<div style="display:flex;">
    <div style="border-right: solid rgb(159, 159, 172) 3px;">
        <app-sidebar></app-sidebar>
    </div>
    <div>
        HISTORIA <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
        asdaasdadasd <br>
    </div>    
</div>
