<div class="big-bg width-100 d-flex justify-content-center">
    <div class="w-50 h-100 d-flex align-items-end">
        <div class="grid w-100 h-50 text-center">
            <div class="e11 d-flex align-items-end justify-content-center">
                <a [routerLink]="['/inicio']"><div><h1>IGRA.Pedia</h1></div></a>
            </div>
            <div class="e12">
            </div>
            <div class="e13 d-flex align-items-center justify-content-center">
                <a [routerLink]="['/ilustraciones']"><div>Ilustraciones</div></a>
            </div>
            <div class="e23 d-flex align-items-center justify-content-center">
                <a [routerLink]="['/escritura']"><div>Escritura</div></a>
            </div>
            <div class="e33 d-flex align-items-center justify-content-center">
                <a [routerLink]="['/modelado']"><div>Modelado</div></a>
            </div>
        </div>
    </div>
</div>
<app-home *ngIf=" locacion == 'inicio';"></app-home>
<app-ilustracion *ngIf=" locacion == 'ilustraciones';"></app-ilustracion>
<app-escritura *ngIf=" locacion == 'escritura';"></app-escritura>
<app-modelado *ngIf=" locacion == 'modelado';"></app-modelado>