<div style="display:flex;">
    <div style="border-right: solid rgb(159, 159, 172) 3px;">
        <div class="cont" [@nav-extension]="isOpen ? 'closed' : 'open'">
            <nav class="navigate">
                <div [routerLink]="['/escritura']" class="back w-100">
                    <i class="bi bi-arrow-left"></i>
                </div>
                <div class="menu w-100" id="aside" (click)="toggle()" (click)="toggle2()" >
                    <i class="bi bi-list"></i>
                </div>
            </nav>
            <aside [@slide]="isOpen2 ? 'abierto' : 'cerrado'" class="navigate-plus" >
                <div class="hidden-element">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Regresar
                    </div>
                </div>
                <div class="hidden-element">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Indice
                    </div>
                </div>
                <hr>
                <div class="hidden-element" (click)="resumenActive()">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Resumen
                    </div>
                </div>
                <div class="hidden-element" (click)="historiaActive()">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Historia
                    </div>
                </div>
                <div class="hidden-element" (click)="personajesActive()">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Personajes
                    </div>
                </div>
                <div class="hidden-element" (click)="poderActive()">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Sistema de poder
                    </div>
                </div>
                <div class="hidden-element">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Extra
                    </div>
                </div>
                <div class="hidden-element">
                    <div class="texto">
                        &nbsp;&nbsp;&nbsp;Historia
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <app-resumen *ngIf=" seccion == 'resumen';"></app-resumen>
    <app-historia *ngIf=" seccion == 'historia';"></app-historia>
    <app-personajes *ngIf=" seccion == 'personajes';"></app-personajes>
    <app-nearth *ngIf=" seccion == 'poder';"></app-nearth>
</div>
