<div style="display:flex;">
    <div style="border-right: solid rgb(159, 159, 172) 3px;">
        <app-sidebar></app-sidebar>
    </div>
    <div>
        <div class="container1 d-flex align-items-center justify-content-center">
            <div class="fade1"><h1>PACEMAKER</h1></div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <div class="w-50 fade2">
                <p align="justify">
                    Cuenta el año 2703 D.c que la humanidad fue arrinconada casi
                    hasta su extinción por extrañas criaturas, las cuales gracias
                    al nacimiento de un héroe fueron capaces de hacerlas retroceder.
                    Él, junto a otros 5 protectores que surgieron, sellaron a las
                    criaturas en el centro continental, y desde entonces por generaciones
                    los portectores sucesores de los héroes han estado entrando al
                    "Escenario de Dios" para reducir cada vez más la población de 
                    esas incontables entidades.
                </p>
            </div>
        </div>
        <br><br><br><br><br><br>
        <div class="d-flex align-items-center justify-content-center">
            <div>
                <img class="cyan-size border" src="../../../../assets/cyan.jpg">
            </div>
        </div>
        <br><br><br>
        <div class="d-flex align-items-center justify-content-center">
            <div class="texto w-50">
                <p align="justify">
                    Esta historia es protagonizada por la actual protectora de la Nueva Europa:
                </p>
                <p align="justify" class="centrar">
                    Cyan Ursus Bellerose
                </p>
                <br>
                <p align="justify">
                    Un día, al entrar al Escenario de Dios, se encuentra con una entidad
                    de proporciones amenazantes, que sin problemas ella y sus compañeros
                    lograron acabar con ella. Pero el problema es que esas criaturas jamás
                    habían crecido tanto, habían sido tan fuertes, habían sido tan veloces
                    como esa criatura reciente. <br><br>
                    Esto inicia una investigación experimental sobre las criaturas la cual
                    conforme avanzan hacia la verdad, a la par esos seres se vuelven más
                    fuertes. La carrera por sobrevivír empieza, si no descubren como
                    erradicar ese nuevo mal será el fin para el continente europeo, y
                    posiblemente para el mundoentero.
                </p>
                <br><br><br><br><br><br>
            </div>
        </div>
    </div>    
</div>
