
<div #div class="central">
    <div class="front-page"><img class="front-img" src="../../../../../assets/portada_pacemaker.jpg" alt=""></div>
    <div class="container1 main d-flex align-items-center justify-content-center">
        <div class="fade1"><h1>PACEMAKER</h1></div>
    </div>
    <div class="container1-2 d-flex align-items-center justify-content-center">
        <div>
            <p>
                bajar
                <i class="bi bi-chevron-double-down"></i>
            </p>
        </div>
    </div>
    <div class="space"></div>
    <div class="container1-3 d-flex align-items-center justify-content-center">
        <div>
            <p>
                <i class="bi bi-chevron-compact-left"></i>  Sinopsis  <i class="bi bi-chevron-compact-right"></i>
            </p>
        </div>
    </div>
    <div class=" container2 d-flex align-items-center justify-content-center">
        <div class="w-75 fade2">
            <p align="justify">
                Después de siglos de apocalipsis protegiendo a la humanidad de los
                seres contenidos en el escenario de dios, una extraña mutación empieza
                a fortalecer las características de estas manifestaciones. Los
                protectores de cada compuerta serán obligados a desatar todo su
                potencial frente a estos nuevos seres, para evitar que escapen y
                pongan en peligro la vida en la tierra. Este suceso lleno de caos
                los hará descubrir su verdadera identidad, que más que ser héroes
                proclamados por la gente, guerreros nacidos para erradicar y destruir
                todo a su paso. La protectora prodigio de la compuerta norte, La
                Capitana Cyan Ursus Bellerose, será la primera en descubrir el
                sangriento futuro que le espera al mundo, deberá ser capaz de dominar
                el poder del protector en tiempo record antes de que esos monstruos
                causen un genocidio.
            </p>
        </div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="container1-3 d-flex align-items-center justify-content-center">
        <div>
            <p>
                <i class="bi bi-chevron-compact-left"></i>  Folclore  <i class="bi bi-chevron-compact-right"></i>
            </p>
        </div>
    </div>
    <div>
        <div>
            foto bruja
        </div>
        <div class=" container2 d-flex align-items-center justify-content-center">
            <div class="w-75 fade2">
                <p align="justify">
                    Cada región tiene su propia historia y creencias, pero todos tienen
                    una historia en común. La bruja de la anti-creación es llamado al ser
                    que la humanidad juró, fue quien junto las tierras en una nueva pangea
                    y dio vida a los monstruos, que a día de hoy amenazantes la vida en la
                    tierra, los cuales emergieron del suelo en el centro del mega-continente.
                    Cuentan que, cuando la humanidad había perdido la esperanza, un poderoso
                    guerrero capaz de hacer retroceder a esos monstruos nació de la perdición
                    humana. Mientras la humanidad recuperaba territorio, iban naciendo más
                    guerreros hasta formar un total de 6, estos fueron bautizados como
                    "protectores". Cuando la humanidad creyó haber arrinconado a esos seres
                    estando a punto de destruir su nido, la bruja volvió a emerger y por
                    primera vez los guerreros escuchan su voz -nada ha cambiado. Dice la
                    bruja y entonces los seres que daban por extintos, de la nada se vuelven
                    más fuertes y mortales, esta vez ni con los 6 protectores de frente la
                    humanidad fue capaz de contenerlos. Cuando la esperanza que una vez
                    brilló se extinguió definitivamente, los 6 protectores desataron todo
                    su poder. Una gran explosión retumbó el mundo entero y antes de que
                    siquiera la humanidad se diera cuenta, ya había una enorme muralla, la
                    cual mantenía capturadas a las criaturas. Desde entonces la humanidad,
                    después de diseñar unas compuertas especiales para atravesar las murallas,
                    han estado reduciendo poco a poco la población del mal contenido dentro
                    hasta le fecha.
                </p>
            </div>
        </div>
    </div>
    
    <div class="d-flex align-items-center justify-content-center">
        <div>
            <img class="cyan-size border" src="../../../../assets/cyan.jpg">
        </div>
    </div>
    <br><br><br>
    <div class="d-flex align-items-center justify-content-center">
        <div class="texto w-75">
            <p align="justify">
                Esta historia es protagonizada por la actual protectora de la Nueva Europa:
            </p>
            <p align="justify" class="centrar">
                Cyan Ursus Bellerose
            </p>
            <br>
            <p align="justify">
                Un día, al entrar al Escenario de Dios, se encuentra con una entidad
                de proporciones amenazantes, que sin problemas ella y sus compañeros
                lograron acabar con ella. Pero el problema es que esas criaturas jamás
                habían crecido tanto, habían sido tan fuertes, habían sido tan veloces
                como esa criatura reciente. <br><br>
                Esto inicia una investigación experimental sobre las criaturas la cual
                conforme avanzan hacia la verdad, a la par esos seres se vuelven más
                fuertes. La carrera por sobrevivír empieza, si no descubren como
                erradicar ese nuevo mal será el fin para el continente europeo, y
                posiblemente para el mundoentero.
            </p>
            <br><br><br><br><br><br>
        </div>
    </div>
    <div class="d-flex">
        <div class="texto" style="width: calc(100% - 250px);">
            <p>fdsdfsdfs</p>
            <p>fdsdfsdfs</p>
            <p>fdsdfsdfs</p>
            <p>fdsdfsdfs</p>
        </div>
        <div class="nearth-cont" appScrollPosition>
            <img class="nearth-circle" src="../../../../assets/nearth.png">
        </div>
    </div>
</div>    
